.body{
    width: 100vh;
    height: 100vh;
}
.Loginform{
    position: relative;
    display: flex;
    flex-direction: column;
    top:200px;
    left:450px;
    align-content: space-between;
}
.LoginInputform{
    border-radius: 10px;
    width: 300px;
    height: 30px;
}
.LoginButtonform{
    border-radius: 3px;
    background-color: rgba(37, 62, 255, 0.993);
    width: 300px;
    height: 30px;
}